@use "../../../variables" as variables;
@use "sass:color";
:host {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: variables.$background-main;
  font-family: variables.$font-text;
  color: variables.$text-primary;
}
#results-grid {
  margin-top: 10%;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;

  app-recipe-card {
    margin: 2rem;
  }
}
@media (max-width: 1500px) {
  #results-grid {
    margin-top: 15%;
  }
}
@media (max-width: 1000px) {
  #results-grid {
    margin-top: 30%;
  }
}
