<form [formGroup]="recipeForm" (ngSubmit)="onGenerate()" class="recipe-box">
  <div id="firstRow">
    <div id="prompt">
      <textarea
        formControlName="recipePrompt"
        id="recipePrompt"
        placeholder="Escribe ingredientes o una idea..."
      ></textarea>
    </div>

    <div class="button-container">
      <button type="submit" id="searchBtn" class="btn-search">
        <span>Generate</span>
      </button>
      <button type="button" id="resetBtn" class="btn-reset" (click)="onReset()">
        <span>Reset</span>
      </button>
    </div>
  </div>

  <div class="divider"></div>

  <div class="filters-row">
    <div class="filter-bubble">
      <span class="icon">👥</span>
      <input
        type="number"
        formControlName="servings"
        id="servings"
        placeholder="Personas"
      />
    </div>

    <div class="filter-bubble">
      <span class="icon">⏱️</span>
      <input
        type="number"
        formControlName="maxDuration"
        id="maxDuration"
        placeholder="Minutos"
      />
    </div>

    <!-- <div class="filter-bubble">
      <select formControlName="mealTypes" id="mealType">
        <option value="">Anytime</option>

        @for (mealType of mealTypesList; track mealType.value) {
          <option [value]="mealType.value">{{ mealType.name }}</option>
        }
      </select>
    </div> -->
    <div
      class="filter-bubble multi-select"
      id="multiSelectMealTypesToggle"
      (click)="toggleMealTypesDropdown()"
    >
      <span id="mealTypeLabel" class="mealtypes-label">Meal Types</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="arrow"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        [style.transform]="
          isRestrictionsDropdownOpen ? 'rotate(180deg)' : 'none'
        "
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>

      <div
        class="dropdown-content"
        id="mealTypesDropdown"
        [class.show]="mealTypesDropdownOpen"
      >
        @for (mealtype of mealTypesList; track mealtype.value) {
          <label class="option-item">
            <input
              type="checkbox"
              [value]="mealtype.value"
              [checked]="selectedCuisines.includes(mealtype.value)"
              (change)="onCheckboxChange($event, mealtype.value, 'mealTypes')"
            />
            {{ mealtype.name }}
          </label>
        }
      </div>
    </div>

    <div
      class="filter-bubble multi-select"
      id="multiSelectCuisinesToggle"
      (click)="toggleCuisinesDropdown()"
    >
      <span id="cuisinesLabel" class="cuisines-label">Cuisines</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="arrow"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        [style.transform]="
          isRestrictionsDropdownOpen ? 'rotate(180deg)' : 'none'
        "
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>

      <div
        class="dropdown-content"
        id="cuisinesDropdown"
        [class.show]="cuisinesDropdownOpen"
      >
        @for (cuisine of cuisineTypesList; track cuisine.value) {
          <label class="option-item">
            <input
              type="checkbox"
              [value]="cuisine.value"
              [checked]="selectedCuisines.includes(cuisine.value)"
              (change)="onCheckboxChange($event, cuisine.value, 'cuisineTypes')"
            />
            {{ cuisine.name }}
          </label>
        }
      </div>
    </div>

    <div
      class="filter-bubble multi-select"
      id="multiSelectRestrictionsToggle"
      (click)="toggleRestrictionsDropdown()"
    >
      <span class="icon">🥗</span>
      <span id="restrictionsLabel" class="restrictions-label"
        >Restricciones</span
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="arrow"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        [style.transform]="
          isRestrictionsDropdownOpen ? 'rotate(180deg)' : 'none'
        "
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        />
      </svg>

      <div
        class="dropdown-content"
        id="restrictionsDropdown"
        (click)="toggleRestrictionsDropdown()"
      >
        @for (restriction of restrictionsList; track restriction.value) {
          <label class="option-item">
            <input
              type="checkbox"
              [value]="restriction.value"
              [checked]="selectedRestrictions.includes(restriction.value)"
              (change)="
                onCheckboxChange($event, restriction.value, 'restrictions')
              "
            />
            {{ restriction.name }}
          </label>
        }
      </div>
    </div>
  </div>
</form>
