@use "../../../variables" as variables;
@use "sass:color";

:host {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: variables.$background-main;
  font-family: variables.$font-text;
  color: variables.$text-primary;
}

.container {
  width: 100%;
  max-width: 896px;
  padding: 2.5rem 1.5rem;

  header {
    text-align: center;
    margin-bottom: 2.5rem;

    h1 {
      font-family: variables.$font-title;
      font-size: 4rem;
      font-weight: 700;
      color: variables.$color-primary;
      margin-bottom: 0.5rem;

      @media (min-width: 768px) {
        font-size: 6rem;
      }
    }

    p {
      opacity: 0.6;
      font-style: italic;
      font-family: variables.$font-title;
    }
  }
}
.slide-middle-up-element {
  animation: slideMiddleUp 0.5s ease-out forwards;
}
/* Define the animation keyframes */
@keyframes slideMiddleUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
