<div class="toast-container">
  @for (toast of toastService.toasts(); track trackById($index, toast)) {
  <div class="toast toast--{{ toast.type }}">
    <span class="toast__icon" [innerHTML]="icons[toast.type]"></span>
    <span class="toast__message">{{ toast.message }}</span>
    <button class="toast__close" (click)="toastService.dismiss(toast.id)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
  </div>
  }
</div>
